.foodTab{
    padding: 50px 0px;
}
.itemMenu{
    text-align: center;
}
.itemMenu ul{
    list-style: none;
    margin-left: -25px;
}
.itemMenu ul li{
    margin-left: 5px;
    display: inline-block;
    padding: 5px 15px;
    background:#FED500;
    color: #171428;
    cursor: pointer;
    transition: 0.5s;
}

.itemMenu ul li:hover{
  background: #FED500
}
.load-all-foods{
    text-align: center;
}